a{
    color: rgb(255, 18, 18);
    font-size: 150%;
    font-style: italic;
    font-weight: 900;
}
p{
    color: darkred;
    font-size: larger;
    font-size: 150%;
    font-style: italic;
    font-weight: 1000;
}
h2{
    color: darkblue;
    font-size: 200%;
    font-size: 200%;
    font-weight: 1500;
    font-style: italic;
}
h3{
    color: darkgreen;
    font-size: larger;
    font-size: 250%;
    font-style: italic;
    font-weight: 2000;
}
body{
    text-align: center;
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}


